*{  margin: 0;
    padding: 0;
 }
 body {
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-color: rgba(0, 240, 200, 0.192);
 }

 /*header*/


 .header{
    background: linear-gradient(rgb(253, 253, 253), rgb(0, 240, 200));
    height: auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
 }

.nav-item {
    font-size: 20px;
}
.navbar-brand{
    font-size: 35px;
    text-transform: uppercase;
}


/* main */

.slide {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20%;
}
.slide img {
    height: 80vh;
}

.container-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.mochila {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    font-size: 25px;
}
.mochila-item {
    height: 60%;
    width: 60%;
}
.remeras {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    font-size: 25px;
}
.remeras-item {
    height: 60%;
    width: 60%;
}
.tazas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    font-size: 25px;
}
.tazas-item{
    height: 60%;
    width: 60%;
}

/*footer*/
footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
}

.btn-primary{
    margin-top: 10px;
    background-color: black;
    text-transform: uppercase;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    margin-top: 5%;
}
.logo-wapp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-wpp-img {
    height: 50%;
}
.donde-encontrarnos{
    display: flex;
    justify-content: center;
    height: 50%;
}
.medios-pagos{
    font-size: 20px;
}
.medios-p {
    background-color: aquamarine;

}


/*sublimados*/
.body-sublimados{
    background-color: black;
}
.sublimacion-tit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(0, 255, 21);
    font-family: monospace;
    text-transform: uppercase;
}
.portfolio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}
@media (max-width: 768px) {
    .header {
        position: static;
    }
    .nav {
    flex-direction: column;
    }
    .nav-menu {
        flex-direction: column;
    }
    .titulo {
        margin-top: 5px;
        font-size: 30px;
    }
    .nav-menu-item {
        font-size: 15px;
        margin: 0 3px;
        line-height: 20px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (4,1fr) ;
    }
    .info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 1%;
    }
    .logo-wpp-img {
        width: 50%;
        margin: 20px;
    }
    .logo-wapp {
        display: flex;
        justify-content: center;
    }
    .portfolio{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .portfolio div img {
        width: 100%;
    }
    .sublimacion-tit {
        font-size: 25px;
    }
}