%botones{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    text-transform: uppercase;
}
%flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}