footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
}

/*agregando extends*/

.btn-primary{
    @extend %botones;
}
.texto_footer {
    margin-bottom: 0px;
}