 .header{
    background: linear-gradient(rgb(253, 253, 253), rgb(0, 240, 200));
    height: 10%;
    width: 100%;
    margin-bottom: 50px;
        .nav-item {
            font-size: 20px;
        }
            .navbar-brand{
                font-size: 35px;
                text-transform: uppercase;
            }
    }      