.slide {
    width: 95%;
    margin-left: 35px;
    margin-bottom: 100px;
    & img {
        height: 91vh;
        }
}
.container-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
.titulo-main {
    @include titulos (30px, 35px, 20px); 
}    
.titulo-info {
    @include titulos (30px, 35px, 20px);
}
.navbar-brand {
    font-size: 35px;
}
.mochila {
    @extend %flexbox;
    font-size: map-get($itemsvarios, font-size);
        .mochila-item {
            object-fit: scale-down;
            height: 60%;
            width: 60%;
        }
}
.remeras {
    @extend %flexbox;
    font-size:map-get($itemsvarios, font-size);
       .remeras-item {
        object-fit: scale-down;
        height: 60%;
        width: 60%;
       }
    }                  
.tazas {
    @extend %flexbox;
    font-size:map-get($itemsvarios, font-size);

        .tazas-item {
            object-fit: scale-down;
            height: 60%;
            width: 60%;
        }
    }
/*info de l pagina*/
.container-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    margin-top: 10px;
    margin-left: 25px;
}
.logo-wapp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.donde-encontrarnos{
    display: flex;
    justify-content: center;
    height: 50%;
}
.medios-pagos{
    font-size: 20px;
}