
@media (max-width: 768px) {
    .header {
        position: static;
    }
    .nav {
    flex-direction: column;
    }
    .nav-menu {
        flex-direction: column;
    }
    .titulo {
        margin-top: 5px;
        font-size: 30px;
    }
    .nav-menu-item {
        font-size: 15px;
        margin: 0 3px;
        line-height: 20px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (4,1fr) ;
    }
    .info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 1%;
    }
    .logo-wpp-img {
        width: 50%;
        margin: 20px;
    }
    .logo-wapp {
        display: flex;
        justify-content: center;
    }
    .portfolio{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .portfolio div img {
        width: 100%;
    }
    .sublimacion-tit {
        font-size: 25px;
    }
}