@media (max-width: 768px) {
    .header {
        position: static;
    }
    .nav {
        flex-direction: column;
    }
    .nav-menu {
        flex-direction: column;
    }
    .navbar-brand{
        font-size: 15px;
        text-transform: uppercase;
    }
    .titulo {
        margin-top: 5px;
        font-size: 15px;
    }
    .titulo-main{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        font-size: x-small;
        font-style: italic;
        text-align: center;
        margin-bottom: 2px;
        text-transform:capitalize;
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        margin-left: 5px;
        margin-right: 4px;
    }
    .titulo-info{
        font-size: small;
    }
    .slide {
        width: 98%;
        margin-left: 5px;
        margin-bottom: 10px;
    } 
    .slide img {
        height: 30vh;
    }
    .nav-menu-item {
        font-size: 15px;
        margin: 0 3px;
        line-height: 20px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (4,1fr);
    }
    .container-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 180px;
        
    }
    .logo-wpp-img {
        width: 50%;
        margin: 20px;
    }
    .logo-wapp {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .portfolio{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .sublimacion-tit {
        font-size: 25px;
    }
    .donde-encontrarnos{
        display: flex;
        justify-content: center;
        height: 20%;
    }
    .medios-pagos{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .container-img h2 {
        font-size: small;
    }
    .mochila h3 {
        font-size: 10px;
    }
    .remeras h3 {
        font-size: 10px;
    }
    .tazas h3 {
        font-size: 10px;
    }
}
